@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
body {
	font-family: Inter,system-ui,sans-serif;
}

#content {
	padding-left: 5px;
}

.review {
	margin-bottom: 50px;
}

.reviewtext {
	inline-size: 500px;
	overflow-wrap: break-word;
}

#lolipop {
	float: right;
}